.learnMore {
    background-image: url('../assets/img/lastBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;

    color: #fff;
    text-align: center;

    .learnMore_header {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        max-width: 442px;
        margin: auto;
        font-family: 'Oswald', sans-serif;
    }

    .learnMore_play_icon {
        margin-top: 60px;
    }

    .learnMore_par {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        max-width: 351px;
        margin: auto;
        margin-top: 54px;
        font-family: "Source Sans Pro", sans-serif;
    }
}